%h1
  ="#{@user.username}"

%h3
  ="My flights:"
  %br
  -@user.flights.each do |flight|
    =link_to "#{flight.callsign}", flight_path(flight)
-if current_user == @user
  -current_user.friendships.where("approved = false").each do |friendship|
    - if friendship.user == current_user
      %li= friendship.friend.username
      =form_for :friendships, method: 'PUT', url: "/approve/#{friendship.id}" do |f|
        =f.submit 'Add Friend' , class: 'button'


