// * {
//   border: 1px dotted black;
// }

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-tile {
  background-color: #292929;
}

.center-60 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin: 0 auto;
}

.container {
  height: 100%;
  margin: 0, auto;
}

#above_chart {
  position: relative;
  height: 50px;
  margin: 15px auto;
}

.button-area1 {
  position: absolute;
  right: 0;
  width: 24%;
}

#main {
  position: relative;
  height: 400px;
  display: block;
}

#chart {
  position: absolute;
  height: 400px;
  margin: 10px auto 0;
  width: 60%;
  margin: 0 0 0 -30%;
  left: 50%;
  border: solid 10px gray;
  border-radius: 2%;
}

#map {
  position: absolute;
  clear: both;
  height: 400px;
  margin: 10px auto 0;
  width: 60%;
  margin: 0 0 0 -30%;
  left: 50%;
  border: solid 10px gray;
  border-radius: 2%;
}

#display {
  border: 5px solid #D1DBDD;
  border-radius: 15px;
  position: absolute;
  height: 300px;
  width: 15%;
  right: 3%;
  color: #acacac;
  font-family: Sans-serif;
}

#below_chart {
  position: relative;
  margin: 15px auto;
  height: 8%;
}

#gauges {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
#gauge_1, #gauge_2 {
  flex: 1;
}
#gauge_3, #gauge_4 {
  flex: 1.5;
}

@media (max-width: 1300px) {
  #above_chart {
    height: 35px;
    margin: 10px auto;
  }
}
