.dashboard {
  width: 1600px;
  margin: 0 auto;
}

#flash_notice {
  padding-top: 10px;
  color: white;
}
#flash_error {
  padding-top: 10px;
  color: red;
}
h2 {
  font-family: 'Codystar', cursive;
  font-size: 2em;
}


#map-tweet {
  width: 41.5%;
  margin: 0 auto
}


h3 {
  font-family: 'Codystar', cursive;
  font-size: 1em;
  margin: 0, auto;
  align: center;
  text-align: center;
}

.flash {
  color: white;
}

.notice {
  color: white
}

.error {
  color: #EE6A50;
}

.success {
  color: palegreen;
}


html,body {
  height: 1400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-tile {
  background-color: #191919;
}

.center {
  margin: 0 auto;
}

.container {
  height: 940px;
}

#above_chart {
  height: 50px;
  margin: 15px auto;
}

#below_chart {
  display: block;
  height: 100px;
}

.button-area1 {
  right: 0;
  width: 24%;
}

#under-chart {
  margin: 0 auto;
}

#main {
  height: 400px;
  display: block;
}

#chart {
  height: 400px;
  width: 65%;
  margin: 0 auto;
  position: absolute;
}

#map {
  clear: both;
  height: 400px;
  width: 65%;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
}

table {
  margin: auto;
  width: 60%;
}


.tdleft {
  text-align: left;
}

.tdright {
  text-align: right;
  float: right;
}

.tdmiddle{
  text-align: center;
  margin: 0, auto;
}

.gauges {
  clear: both;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

#gauge_5 {
//  position: absolute;
//  width: 320px;
//  height: 320px;

  display: block;
  margin: auto;
  margin-right: -30px;
}

#gauge_3, #gauge_4 {
  margin-top: 20px;
  display: block;
//  width: 300px;
//  height: 400px;
  }


#gauge_1 {
  display: block;
  margin: auto;
  margin-right: -30px;
}

@media (max-width: 1300px) {
  #above_chart {
    height: 35px;
    margin: 10px auto;
  }
}

desc {
  display: none;
  color: #191919;
}

// ----------------------------------------------
// grid

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 64.66%;
  position: relative;
}

.col-1-3 {
  width: 31.33%;
}

.col-1-2 {
  width: 48%;
}

.col-1-4 {
  width: 23%;
}

.col-1-8 {
  width: 10.5%;
}

.col-3-4 {
  width: 73%;
}

.col-7-8 {
  width: 85.5%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-pad {
  padding:  0 0 30px 30px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 30px;
}
input[type="submit"] {
  width: 200px;
  height: 45px;
  border: 2px solid black;
  background: rgba(0,0,0,0);
  outline: none;
}

input[type="submit"]:hover, #toggle_comment:hover {
  background: lightgray;
}

input[type="text"] {
  height: 43px;
  width: 200px;
  border: 2px solid black;
  outline: none;
}
#data_comment {
  display: none;
  margin-bottom: 10px;
}
#data_comment input[type="submit"]  {
  height: 25px;
  width: 150px;
  font-size: 15px;
}

#data_comment input[type="text"] {
  vertical-align: top;
  height: 25px;
  width: 300px;
}

#data_submit {
  visibility: hidden;
}

#submit_field {
  display: inline-block;
  width: 150px;
  height: 25px;
}
#show_comments{
  width: 125px;
  height: 20px;
  font-size: 10px;
  font-weight: lighter;
}
h1.chart_header{
  position: relative;
}
#star{
  display: inline-block;
  font-size: medium;
  width: 1%;
  i {
    position: absolute;
    top: 40%;
  }
}

// $primary: ;
// $secondary: ;
$highlight: #4d1eb3;
// lighten($highlight, 20%)
