.text-center {
  text-align:  center;
}

h1 {
  font-size: 100px;
  color: white;
  margin: 0;
}

h2 {
  color: #dddddd;
}


h4 {
  font-size: 20px;
  margin: 5% auto;
}
p {
  margin: auto 5%;
}

a {
  color: #ccc;
}

a:hover {
  color: #777;
}
reg {
  font-family: calibri;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
