.text-center {
  text-align:  center;
}
.ceviche {
  /*font-family: 'Ceviche One', cursive;*/
}
.audiowide {
  /*font-family: 'Audiowide', cursive;*/
}
.perm-marker {
  /*font-family: 'Permanent Marker', cursive;*/
}

h2 {
  color: #dddddd;
}
h4 {
  font-size: 20px;
  margin: 5% auto;
}
p {
  margin: auto 5%;
}

a {
  color: #ccc;
}

a:hover {
  color: #777;
}
reg {
  font-family: calibri;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
