.text-center {
  text-align:  center;
}

table {
  font-family: Codystar;
  color: #dddddd;
}

h1 {
  font-size: 48px;
  font-family: Armata;
  color: white;
  margin: 0;
}

h2 {
  color: #7d7d7d;
  font-size: 25px;
}

h3 {
  font-family: Armata;
}


h4 {
  font-size: 20px;
  margin: 5% auto;
}
/*p {
  margin: auto 5%;
}*/

a {
  color: #ccc;
}

a:hover {
  color: #777;
}
reg {
  font-family: calibri;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
