#above_chart.center-60
  .button-area1
    %button.button_left.audiowide#chart_button CHART
    %button.button_right.audiowide#map_button MAP

#main
  #chart
  #map
  #display
    %h4.perm-marker.text-center Data Point:
    %p.perm-marker#time
    %p.perm-marker#altitude
    %p.perm-marker#temp

#below_chart.center-60
  %button#button-step-back
    %i.fa.fa-step-backward
  %button#button-play
    %i.fa.fa-play
  %button#button-pause
    %i.fa.fa-pause
  %button#button-step-forw
    %i.fa.fa-step-forward

#gauges
  #gauge_1
  #gauge_2
  #gauge_3
  #gauge_4




