#above_chart.center-60
  .button-area1
    %button#button1.audiowide CHART
    %button#button2.audiowide MAP

#main
  #chart
    #map
  #display
    %h4.perm-marker.text-center Data Point:
    %p.perm-marker#time
    %p.perm-marker#altitude
    %p.perm-marker#temp

#below_chart.center-60
  .center-60
    %button#button-step-back
      %i.fa.fa-step-backward
    %button#button-play
      %i.fa.fa-play
    %button#button-step-forw
      %i.fa.fa-step-forward

#gauges.center-60
  #gauge1
  #gauge2
  #gauge3

