<header id="pictures-header"><h1>Photos</h1></header>

<div id="picture-carousel">
  <% @flight.pictures.each do |picture| %>
  <span class="helper"></span>
  <%= image_tag picture.image_url.to_s %>
  <% end %>
</div>
