button {
  height: 50px;
  border: 2px solid purple;
  color: black;
  background-color: #f3f3f3;
}
button:hover {
  background-color: #CC00CC;
  color: #f3f3f3;
}
button:focus {
  outline: 0;
}

button:active {
  background-color: #400040;
}

.button_left {
  border-radius: 15px 0 0 15px;
  width: 45%;

}
.button_right {
  border-radius: 0 15px 15px 0;
  width: 45%;

}
#button-play, #button-pause {
  position: absolute;
  border-radius: 2%;
  margin: 0 0 0 -5%;
  left: 50%;
  width: 10%;
}

#button-pause {
  display: none;
}

#button-step-back {
  height: 40px;
  width: 8%;
  position: absolute;
  border-radius: 2%;
  margin: 0 0 0 -4%;
  left: 40%;
  top: 5px;
}
#button-step-back:hover {
  background-color: #CC00CC;
}
#button-step-forw {
  height: 40px;
  width: 8%;
  position: absolute;
  border-radius: 2%;
  margin: 0 -4% 0 0;
  right: 40%;
  top: 5px;
}
#button-step-forw:hover {
  background-color: #CC00CC;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 1300px) {
  .button_left {
    height: 35px;
    font-size: 10px;
  }
  .button_right {
    height: 35px;
    font-size: 10px;
  }
}
