p,
h3 {
	color: #ccc
}

.all_data {
	display: none;
  z-index: -1
}


body { margin:0; padding:0; text-align:center;}

.leaflet-control-attribution, .leaflet-control-zoom {
  display: none;
}

ul {
  list-style-type: none;
  text-align: left;
}

.leaflet-popup-content {
  padding: 0;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

$nprogress-color: white;
@import 'nprogress';
