// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p,
h3 {
	color: #ccc
}

.all_data {
	display: none;
  z-index: -1
}


body { margin:0; padding:0; text-align:center;}

.leaflet-control-attribution, .leaflet-control-zoom {
  display: none;
}

ul {
  list-style-type: none;
  text-align: left;
}

.leaflet-popup-content {
  padding: 0;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}
