/*#flights-header {
  margin: 3% 0;
}
#flights-header h1 {
  font-family: 'Armata', sans-serif;
  color: white;
  font-size: 48px;
}*/
/* Side Bar --------------------------*/
/*#sidebar {
  width: 30%;
  float: left;
  height: auto;
  margin-left: 2%;
}
#stats {
  width: 80%;
  border: 3px solid white;
  background: rgb(55,55,55);
  margin: 0 auto;
  padding: 30px;
}
#stats h3 {
  font-family: 'Armata', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 0;
}
.stats-row {
  width: 100%;
  overflow: hidden;
}
.stat-property {
  display: inline-block;
  width: 55%;
  color: rgb(190,190,190);
  font-size:16px;
}
.stat-value {
  display: inline-block;
  width: 40%;
  color: white;
  font-size:16px;
}*/
/*#comment-input-box {
  display: none;
  width: 90%;
  border: 3px solid white;
  margin: 20px auto;
  padding: 15px;
  background: rgb(55,55,55);
}
#comment-input-box textarea {
  margin-top: 0;
  border-radius: 5px;
  height: 80px;
  vertical-align: middle;
}
#add-comment-button {
  display: block;
  width: 200px;
  height: 45px;
  border: 2px solid white;
  background: rgb(19,19,19);
  outline: none;
  margin: 16px auto 0;
  color: rgb(190,190,190);
}
#comment-submit {
  padding: 0;
  width: 12%;
  border: 3px solid rgb(190,190,190);
  color: #999999;
  font-size: 14px;
  height: 35px;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
/*#show-comments-button {
  display: block;
  width: 200px;
  height: 45px;
  border: 2px solid white;
  background: rgb(19,19,19);
  outline: none;
  margin: 20px auto 0;
  color: rgb(190,190,190);
}
#comment_container {
  width: 100%;
  height: auto;
}
#comment_roll {
  margin: 20px auto;
  display: none;
  width: 95%;
  height: 70%;
  background: white;
  padding: 15px;
  overflow: auto;
}*/
#main-container {
  overflow: hidden;
  height: 1030px;
}
#photos-div {
  width: 65%;
  border: 3px solid rgb(190,190,190);
  margin: 20px auto 5px;
  background: #D1DBDD;
  height: 55px;
}
#write-comments {
  width: 65%;
  border: 3px solid rgb(190,190,190);
  margin: 5px auto 10px;
  background: #D1DBDD;
  height: 55px;
}
#photos-div i {
  width: 25%;
  height: auto;
  margin: 0 auto;
  border-left: 4px solid rgb(190,190,190);
  border-right: 4px solid rgb(190,190,190);
  vertical-align: middle;
}
#photo-add, #comment-add {
  width: 36%;
  height: 100%;
  outline: none;
  background: none;
  margin: 0 auto;
  border: none;
  font-family: 'Armata', sans-serif;
  font-size: 20px;
}
#photo-view, #comment-view {
  width: 36%;
  height: 100%;
  outline: none;
  background: none;
  margin: 0 auto;
  border: none;
  font-family: 'Armata', sans-serif;
  font-size: 20px;
}
#write-comments i {
  width: 25%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
  border-left: 4px solid rgb(190,190,190);
  border-right: 4px solid rgb(190,190,190);
}
#comment-input-box {
  display: none;
  width: 80%;
  height: 100px;
  border: 2px solid rgb(190,190,190);
  margin: 0 auto;
  background: #D1DBDD;
}
#comment-input-box textarea {
  width: 80%;
  height: 80px;
  padding: 5px;
  outline: none;
  vertical-align: middle;
  margin: 9px auto;
}
#comment-input-box #comment-submit {
  vertical-align: middle;
  width: 10%;
  padding: 0 0 0 6px;
  font-size:16px;
  color: black;
  border: none;
}
#comment-input-box #comment-submit:hover {
  color: white;
  background: none;
}
#photo-container {
  height: 800px;
  width: 100%;
  background: #6C7B8B;
}
#photo-header {
  padding: 70px 0 55px;
  margin: 0;
}
#photo-header h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(250,250,250);
  font-family: 'Armata', sans-serif;
}
#photo-carousel {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 25px;
  overflow: auto;
  white-space: nowrap;
  background: #778899;
}
/* Vertical Gauges ---------------------- */
#vertical-gauges {
  width: 80%;
  margin: 50px auto 0;
}
#vg-top {
  width: 100%;
  height: 400px;
  display: block;
}
#gauge_6, #gauge_7 {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 400px;
  margin: 0 auto;
}
#vg-bottom {
  width: 100%;
  height: 70px;
  display: block;
  margin: 0 auto;
}
#gauge_6_info, #gauge_7_info {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: 'Unica One';
  font-size: 22px;
  color: white;
  width: 48%;
}
