#flightsnew-header {
  margin: 3% 0;
}
#flightsnew-header h1 {
  color: white;
  font-size: 48px;
}
.flightsnew-form div {
  display: block;
  width: 60%;
  margin: 20px auto;
  font-family: 'Armata', sans-serif;
}
.flightsnew-form p {
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 50%;
  border: 3px solid white;
  margin: 40px auto 0;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 1px;
}
input[type="submit"].flight-save {
  border: 2px solid white;
  font-family: 'Armata', sans-serif;
  color: white;
  width: 200px;
  height: 45px;
  margin-bottom: 25px;
}
input[type="submit"].flight-save:hover {
  color: lightgray;
  color: black;
}
#or-div-flights {
  color: white;
  font-size: 24px;
}
#flightsnew-input {
  width: 350px;
  padding: 0 10px;
}
#file {
  width: 177px;
  color: white;
  font-size: 12px;
}
.flightsnew-form label {
  color: white;
  font-size: 22px;
}
