#pictures-header {
  margin: 3% 0;
}
#flights-header h1 {
  color: white;
  font-size: 48px;
}
#photo-form div {
  display: block;
  width: 60%;
  margin: 20px auto;
  font-family: 'Armata', sans-serif;
}
#photo-form p {
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 50%;
  border: 3px solid white;
  margin: 40px auto 0;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 1px;
}
#photo-form label {
  color: white;
  font-size: 22px;
}
#url-input {
  width: 350px;
  padding: 0 10px;
}
#or-div {
  margin: 90px auto 20px;
  color: white;
  font-size: 24px;
}
#photo-save, #avatar-save, .edit {
  border: 2px solid white;
  font-family: 'Armata', sans-serif;
  color: white;
  width: 200px;
  height: 45px;
}
#photo-save:hover, #avatar-save:hover, .edit:hover {
  color: lightgray;
  color: black;
}
#picture_files, #user_file {
  width: 177px;
  margin-bottom: 25px;
  color: white;
  font-size: 12px;
}
.links_bottom {
  display: block;
  text-decoration: none;
  margin: 4px;
  padding: 0;
}
#contain1 {
  width: 83px;
  margin: 0 auto;
}
#contain2 {
  width: 139px;
  margin: 0 auto;
}
