// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jumbotron {
  background-color: #1e1e1e;
  height: 100%;
}

#welcome-header {
  margin: 5% 0;
}

#welcome-header h1 {
  font-family: 'Armata', sans-serif;
  color: white;
  font-size: 90px;
}

article {
  color: white;
  font-family: 'Armata', sans-serif;
}
